# Output directories
bin/
build/

# vcpkg dependencies
vcpkg_installed/

# Python
__pycache__/
.venv/

# Test scenes
tests/scenes/

# Output files
*.ppm

# vscode settings
.vscode/

# ImGui settings
imgui.ini